<section id="indexphp2">
    <h2 class="noupper">index.php</h2>
    <pre class="stretch"><code class="hljs php" data-trim data-fragment>
&lt;!doctype html&gt;
&lt;html lang="<?php echo $this->language; ?>" dir="<?php echo $this->direction; ?>"&gt;
	&lt;head&gt;
		<mark class="fragment" data-fragment-index="0">&lt;jdoc:include type="head" /&gt;</mark>
	&lt;/head&gt;
	&lt;body&gt;
		<mark class="fragment" data-fragment-index="0">&lt;jdoc:include type="message" /&gt;</mark>
		<mark class="fragment" data-fragment-index="0">&lt;jdoc:include type="component" /&gt;</mark>
		<mark class="fragment" data-fragment-index="0">&lt;jdoc:include type="modules" name="debug" style="none" /&gt;</mark>
	&lt;/body&gt;
&lt;/html&gt;
</code></pre>
</section>