<section data-transition="none">
    <h2 class="noupper">index.php</h2>
    <pre class="stretch">
&lt;!doctype html&gt;
&lt;html&gt;
	&lt;head&gt;
		<mark class="fragment" data-fragment-index="3">&lt;jdoc:include type="head" /&gt;</mark>
	&lt;/head&gt;
	&lt;body&gt;
		<mark class="fragment" data-fragment-index="1">&lt;<mark class="fragment" data-fragment-index="1">jdoc</mark>:include type="message" /&gt;</mark>
		<mark class="fragment" data-fragment-index="0">&lt;jdoc:include type="component" /&gt;</mark>
		<mark class="fragment" data-fragment-index="2">&lt;jdoc:include type="modules" name="debug" style="none" /&gt;</mark>
	&lt;/body&gt;
&lt;/html&gt;
</pre>
</section>